*{
    margin:0; /*establecemos el margen en 0*/
    box-sizing: border-box; 
}

body{
    font-family:sans-serif;/*tipo de fuente*/
    padding: 90px 20px 0px; /*140px - relleno de 90px, a los lados 20px y abajo 0*/
}

.header{
    background-color: #0769e9;/*color de fondo del header*/
    height: 80px;/*alto de 80 px*/
    position: fixed;/* fijar la posición del header*/
    width: 100%; /*ancho de 100% de la pantalla*/
    top: 0; /*ayuda a mantener fijo el header*/
    left: 0; /*ayuda a mantener fijo el header*/
}

.nav{
    display: flex; /*alinea los elementos*/
    justify-content: space-between; /*separa los elementos del nav*/
    max-width: 1400px; /*máximo ancho de navegador en pantallas grandes*/
    margin: 0 auto; /*arriba y abajo 0*/
}

.logo{
    font-size: 30px; /*tamaño texto*/
    font-weight: bold; /*letra mas "fuerte"*/
    padding: 0 40px; /*arriba y abajo 0 - izquierda - derecha 30px*/
    line-height: 80px; /*alto de linea mismo que tamaño del header - logo queda centrado*/
}

.nav-link {
    color: white; /*color del texto*/
    text-decoration: none; /*quitamos el subrayado*/
}

.nav-menu {
    display: flex; /*elementos en forma horizontal*/
    margin-right: 40px; /*distancia de margen derecho*/
    list-style: none; /*eliminamos puntos de la lista*/
    
}

.nav-menu-item{
    font-size: 18px; /*tamaño de letra*/
    margin: 0 10px ; /*margen entre elementos arriba abajo 0 y a los lados 10px*/
    line-height: 80px; /*alto de linea mismo que tamaño del header - elementos centrados*/
    text-transform: uppercase; /*letras en mayúsculas*/
    width: max-content; /*no se corta el contenido hacia abajo, se muestra todo*/
}

.nav-menu-link{
    padding: 8px 12px; /*relleno arriba y abajo 8px a los lados 12px*/
    border-radius: 3px; /*tamaño borde del padding*/
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #034574; /*color de fondo*/
    transition: 0.5s; /*tiempo de transición en que aparezca el padding*/
}

.nav-toggle{
    color:white; /*color de lineas*/
    background: none; /*color de fondo*/
    border: none; /*tipo borde*/
    font-size: 30px; /*tamaño texto*/
    padding: 0 20px; /*relleno arriba y abajo 0 a los lados 20px*/
    line-height: 60px; /*alto de linea distinto tamaño para navegadores - elementos centrados*/
    display: none; /*se va a ocultar en dispositivo escritorio*/
    cursor: pointer;/*agregamos cursor manito*/
}

.footer{
    background:#f2f2f2;
    padding: 4rem 0; /*4rem = 64px*/
    text-align: center; /*centramos el texto*/
    margin-top: 6rem; /*6rem = 96px*/
}

.footer img{
    margin: 5px;
    width: 5%;
}

@media (max-width: 768px){
    body {
        padding-top: 70px; /*distancia del banner con el contenido*/
    }

    .header{
        height: 60px; /*alto de 60 px - mas pequeño para dispositivos móviles*/
    }

    .logo{
        font-size: 25px; /*tamaño texto*/
        padding: 0 20px; /*arriba y abajo 0 - izquierda - derecha 40px*/
        line-height: 60px; /*alto de linea mismo que tamaño del header - logo queda centrado*/
    }
    
    .nav-menu {
        flex-direction: column; /*elementos en columnas hacia abajo*/
        align-items: center; /*centramos los elementos*/
        margin-right: 20px; /*distancia de margen derecho*/
        background-color: #2c3e50; /*color de fondo del nav*/
        position: fixed; /*fijamos el nav a la pantalla*/
        left: 100%; /**/
        top: 60px; /*alto del elemento*/
        width: 100%; /*ancho del 100%*/
        padding: 20px 0; /*arriba y abajo 20px y 0 a los lados*/
        height: calc(100% - 60px); /*alto = se estira el nav hacia abajo*/
        overflow-y: auto; /*scrollbar si el dispositivo móvil tiene mucho zoom*/
        transition: left 0.3s; /*transición para que el menu aparezca lento*/
    }
    
    .nav-menu-item{
        line-height: 70px; /*alto de linea mismo que tamaño del header - elementos centrados*/
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none; /*color de fondo*/
        color: #83c5f7; /*color texto*/
    }

    .nav-toggle{
        display: block; /*mostramos el botón del nav menú*/
    }

    .nav-menu_visible{
        left: 0; /*el menu aparece hacia la izquierda*/
    }
    /*acccesibilidad*/
    /*dejamos outline cuando navegamos con el botón TABULADOR*/
    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
}